# IDE specific files
.idea/
*.iml
.vscode/
*.sublime-*

# Build and dependency directories
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
target/
# Logs
*.log
log/
logs/

# OS specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Sensitive configuration files
src/main/resources/cosmicdoc-healthcarapp-prod-firebase.json
src/main/resources/lemicare-app-firebase-adminsdk-fbsvc-7504a1fef1.json
src/main/resources/lemicare-dev-v1.json
src/main/resources/lemicare-stage-v1.json
src/main/resources/service-account copy.json
src/main/resources/service-account.json

# Maven specific
.mvn/wrapper/maven-wrapper.jar
